{% extends 'index_template.html' %}

{% block css %}
    <style>
        .page a{
            display: inline-block;
            padding: 5px;
            margin: 3px;
        }
        .page a.active{
            background-color: #46b8da;
        }
        .page a{
            text-decoration:none;
        }

    </style>
{% endblock %}

{% block body_t %}
    <div class="col_3 container">

          </div>
{% endblock %}
{% block body %}
    <span adviser="adviser_name" style="display: none"></span>
    {% if info_exist %}
    <div style="height: 100px;">
        <div><h1>选择课程列表：</h1></div>
        <div class="btn-group" data-toggle="buttons" id="task_active">

            {% for course_index in course_obj %}
                <label class="btn btn-primary" onclick="check_select(this);">
                    <input type="radio" name="options" id="{{ course_index.name }}" autocomplete="off" > {{ course_index.name }}
                </label>
            {% endfor %}
        </div>
    </div>
    <div style="height: 350px;" >
        <table class="table table-hover" >
            <thead >
                <tr class="info">
                    <th style="width: 780px">课程作业</th>
                    <th>作业状态</th>
                    <th>提交作业</th>
                </tr>
            </thead>
            <tbody>
            {% for i in type_list %}
                <tr>
                    <td class="td1" style="width: 430px">{{ i.name }}</td>

                    {% if i.name in chat_list %}
                        <td><span class="label label-primary">作业已提交</span></td>
                    {% else %}
                        <td><span class="label label-warning">作业未提交</span></td>
                    {% endif %}
                    <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg{{ forloop.counter }}" id="sun_{{ forloop.counter }}" onclick="check_h(this);">回复</button></td>
                    <div class="modal fade bs-example-modal-lg{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">作业提交</h4>

                            </div>
                            <div class="modal-body">
                                <div style="overflow: auto;height: 500px;position: relative" id="nr">
                                    <div id="submit" style="height: 250px">
                                        <h2>作业提交</h2>
                                        <hr/>
                                        <div class="tj"></div>
                                    </div>
                                    <hr/>
                                    <div id="reply" style="height: 250px">
                                        <h2>作业评价</h2>
                                        <hr/>
                                        <div class="pj"></div>
                                    </div>
                                </div>
                                <div style="height: 90px"><hr/></div>
                                <div style="height: 120px">
                                    <textarea rows="3" cols="80" name="content" placeholder="请输入github地址"></textarea>
                                    <span style="display: none" id="jl">ff</span>
                                    <button type="button" class="btn btn-danger" style="margin-bottom: 60px;" onclick="submit_tj(this);">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </tr>
            {% endfor %}
            <span>{{ list_kc }}</span>
            </tbody>
        </table>
    </div>
    <div style="">
        <div class="page" style="text-align: center">{{ str_page }}</div>
        <div style="text-align: center;color: red"><span>总共{{ all_page }}页</span></div>
    </div>
    {% else %}
        <h1 style="color: red">您没有选择课程 请选择课程后在来此页面</h1>

    {% endif %}

{% endblock %}

{% block js %}
    <script>
        function check_select(ths) {
            console.log($(ths).find('input').attr('id')+"111111111111");
            $.ajax({
                url:"/index/task/",
                type: 'POST',
                dataType: 'json',
                data:{'user_select':$(ths).find('input').attr('id')},
                success: function (data) {
                    if(data.status){
                        console.log('123');
                        location.reload();
                    }else{
                        console.log('456');
                    }
                }
            })
        }
{#        $('#task_active').find('label').first().next().addClass('active');#}
        $("#{{ request.session.user_select }}").parent().addClass('active');
        console.log($("#{{ request.session.user_select }}").attr('id'));

        function check_h(ths) {
            console.log($(ths).parent().parent().find('.td1').text());
            $(".tj").empty();
            $(".pj").empty();
            var task_name = $(ths).parent().parent().find('.td1').text();
            $('#jl').attr('task_name',task_name);
            $('#jl').attr('jq_id',$(ths).attr('id'));
            $.ajax({
                url:"/index_submit/",
                type:"POST",
                dataType:'json',
                data:{'task_name':task_name},
                success:function (data) {
                    console.log('111112');
                    $('.tj').append(('<h3 style="color:red;text-align: left">'+data.message+"</h3>"));
                    if(data.mark==null){
                        console.log('none');
                    }else {
                        $('.pj').append(('<h3 style="color:red;text-align: right">' + data.mark + "</h3>"));
                    }
                }
            })
        }

        function submit_tj(ths) {
            var task_name = $('#jl').attr('task_name');
            var task_content = $(ths).parent().find('textarea[name="content"]').val();
            if(task_content){
                console.log('ok');
                $.ajax({
                    url:"/index/message/",
                    type:"POST",
                    dataType:'json',
                    data:{'task_name':task_name,'task_content':task_content},
                    success:function (data) {
                        if(data.status){
                            console.log($('#jl').attr('jq_id'));
                            var sun_id = $('#jl').attr('jq_id');
                            check_h($('#'+sun_id));
                            $(ths).parent().find('textarea[name="content"]').val('');
                        }
                        console.log(data);
                    }
                })
                }
        }
    </script>
{% endblock %}